<%= form_with(model: nota, url: solicitante_notas_path(solicitante), id: "formulario_nueva_nota", class: "mb-4") do |f| %>
  <div class="input-group shadow-sm">
    <%= f.text_field :contenido, class: "form-control form-control-lg border-secondary", placeholder: "Escribe una nueva nota o actualización aquí...", required: true, autocomplete: "off" %>
    <%= f.submit "Añadir Nota", class: "btn btn-dark fw-bold px-4" %>
  </div>
<% end %>