<div id="<%= dom_id(nota) %>" class="list-group-item p-3 border-light bg-light mb-2 rounded">
  <p class="mb-1 text-dark" style="white-space: pre-line;"><%= nota.contenido %></p>
  <small class="text-muted fw-bold">📅 <%= nota.created_at.strftime("%d/%m/%Y a las %I:%M %p") %></small>
</div>