<div id="<%= dom_id solicitante %>">
  <div>
    <strong>Nombre:</strong>
    <%= solicitante.nombre %>
  </div>

  <div>
    <strong>Aprobado:</strong>
    <%= solicitante.aprobado %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= solicitante.email %>
  </div>

</div>
